.creator-story-card {
  display: flex;
  gap: 16px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  /* padding: 16px; */
  cursor: pointer;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.creator-story-card:hover {
  transform: translateY(-3px);
}
/* Height of the image should span the full height of that particula card */
.creator-cover-wrapper {
  width: 200px;
  height: 100;
  border-radius: 8px 0px 0px 8px;
  overflow: hidden;
    background: #e5e5e5;
}

.creator-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creator-info {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex: 1;
}

.creator-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.creator-description {
  margin: 8px 0;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.creator-date {
  font-size: 0.85rem;
  color: #666;
}

.creator-status {
  display: inline-block;
  width: fit-content;
  margin-top: 6px;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 600;
}

.creator-delete-btn {
  margin-top: 12px;
  padding: 6px 10px;
  border: none;
  background: #ff4b4b;
  color: white;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
}

.creator-delete-btn:hover {
  background: #d43232;
}
