/* Center layout */
.register-container {
  height: 100vh;
    width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

/* Card */
.register-card {
  background: white;
  padding: 2.5rem 3rem;
  border-radius: 18px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  width: 350px;
  text-align: center;
}

.register-card form {
  text-align: left;
  width: 100%;
}

/* Logo */
.register-logo {
  width: 75px;
  margin-bottom: 1rem;
}

.storynavbar-logo {
  width: 70%;
  margin-bottom: 1rem;
}

/* Title */
.register-title {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
}

/* Form layout */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Field */
.register-card .register-field label {
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}
/* .register-card label {
  display: block;
  font-weight: 600;
}
.register-card input {
  display: block;
  width: 100%;
} */

/* Input */
.register-card .register-input {
    display: block;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.register-input:focus {
  border-color: #2AAA8A;
  box-shadow: 0 0 4px rgba(42, 170, 138, 0.3);
}

/* Button */
.register-btn {
  padding: 0.75rem;
  background: #2AAA8A;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
}

.register-btn:hover {
  background: #355E3B;
  transform: translateY(-2px);
}
